.search__all-content {
    margin-top: 15rem;

    @media only screen and (max-width: 767px) {
        margin-top: 8rem;
    }
}

.search__img {
    max-width: 100%;

    @media only screen and (max-width: 767px) {
        display: none;
    }
}

h4.search__text {
    color: $gray;
    font-size: 1.9rem;
    margin-bottom: 3%;
    letter-spacing: 1px;

    @media only screen and (min-width: 768px) and (max-width: 1024px)  {
        font-size: 1.4rem;
    }

    @media (min-width: 1024px) and (max-width: 1280px) {
        margin-bottom: 3%;
        padding: 2%;
        letter-spacing: 2px;
        width: 79%;
    }

    @media only screen and (max-width: 767px) {
        font-size: 1.5rem;
    }
}

h2.search__title {
    font-size: 5.7rem;
    margin-bottom: 5%;
    line-height: 7rem;
    font-family: $main-font;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 4.5rem;
        margin-bottom: 8%;
    }

    @media only screen and (max-width: 767px) {
        font-size: 3.5rem;
        margin-bottom: 17%;
        line-height: 5rem;
    }
}

.search__fields {
    height: auto;
    max-width: 80%;
    position: relative;

    @media only screen and (max-width: 767px) {
        max-width: 90%;
    }
}

.searh__rounded {
    padding: 4%;
    border: none;
    font-size: 1.8rem;
    width: 91%;
    border-radius: 65px;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 6%;
        font-size: 2rem;
        width: 100%;
        border-radius: 65px;
    }

    @media only screen and (max-width: 767px) {
        padding: 5%;
        font-size: 1.8rem;
        width: 100%;
    }
}

.search__button {
    top: 0;
    bottom: 0;
    right: 15px;
    width: 60px;
    height: 60px;
    margin: auto;
    border: none;
    color: white;
    font-size: 2rem;
    margin-right: 1%;
    border-radius: 50%;
    position: absolute;
    background: $search-orange;
    background: -moz-linear-gradient(to bottom, $search-orange 0%, $soft-orange 100%);
    background: -webkit-linear-gradient(to bottom, $search-orange 0% $soft-orange 100%);
    background: linear-gradient(to bottom, $search-orange 0%, $soft-orange 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$search-orange, endColorstr=$soft-orange,GradientType=1 );
    box-shadow: 2px 7px 16px $search-shading;
    -webkit-box-shadow: 2px 7px 16px $search-shading;
    -moz-box-shadow: 2px 7px 16px $search-shading;
    -ms-box-shadow: 2px 7px 16px $search-shading;

    @media only screen and (min-width: 768px) and (max-width: 1024px)  {
        left: auto;
        width: 50px;
        height: 50px;
        right: -31px;
    }

    @media only screen and (max-width: 767px) {
        right: -18px;
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        margin-right: 0%;
    }
}

.search__container {
    @media only screen and (max-width: 767px) {
        width: 90%;
        margin: 0 auto;
    }
}

.search__info {
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}

.search__avatar {
    @media only screen and (max-width: 767px) {
        width: 0;
    }
}